label{
    font-size: 50px;
}
button{
    font-size: 50px;
    background-image:linear-gradient(darkblue, cyan);
}
body{
background-image: linear-gradient(purple, violet);
height: 100%;
}
div{
    background: linear-gradient(orange, yellow);
		margin-top: 20%;
		float: none;
		border-radius: 15px;
        border-width: 10px;
        border-top: 15px solid yellowgreen;
}