label{
    font-size: 50px;
}
button{
    font-size: 50px;
    background-image: linear-gradient(green, yellowgreen);
    color: white;
}
body{
background-image: linear-gradient(#051937, #0B3789);
height: 100%;
}
div{
    background: #072456;
		margin-top: 20%;
		float: none;
		border-radius: 15px;
        border-width: 10px;
        border-top: 15px solid #4f099c;
        color: white;
}
